/*---------------------------------------------------------
file: <<styling.css>>
  by: Joseph Morelli
 org: COP 3003, Fall 2020
 for: Creates styling for login scene
---------------------------------------------------------*/


.root {
  -fx-background-color: #2f5b9b;
  -fx-font-family: "Sitka Subheading";
  -fx-font-size: 15px;
  -fx-text-fill: white;
}

.button {
  -fx-background-color: orangered;
  -fx-text-fill: white;
}

.error_text {
  -fx-text-fill: orangered;
}
